@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
* {
  background: #191919;
  color: #555555;
  margin: 0;
  padding: 0;
}

* h1, * h2, * p {
  color: #999999;
}

h1 {
  font-size: 60px;
  font-family: 'Permanent Marker','Poiret One', 'Work Sans', sans-serif;
}

h2 {
  font-family: 'East Sea Dokdo', 'Poiret One', 'Work Sans', sans-serif;
  font-size: 50px;
  margin-left: 10px;
}

h3 {
  font-family: 'Poiret One', 'Work Sans', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
}

a {
  text-decoration: none;
}

input {
  border: 2px solid #363636;
  background-color: #555555;
  border-radius: 5px;
  width: 200px;
  color: #999999;
}

#dark_grey_input {
  border: 2px solid #555555;
  background-color: #363636;
}

button {
  width: 200px;
  border-radius: 15px;
  border: 1px solid #555555;
  background-color: #363636;
}

#dark_grey_button {
  border: 1px solid #363636;
  background-color: #555555;
}

#grey_button:hover {
  color: #555555;
  background-color: #363636;
}

#dark_grey_button:hover {
  color: #363636;
  background-color: #555555;
}

text-area {
  border-radius: 5px;
}

#logo {
  background-color: #ffffff;
  height: 70px;
  width: 70px;
  margin: 20px;
}

i {
  font-size: 20px;
  color: #555555;
}

li {
  background: none;
  color: #ffffff;
}

#menuToggle {
  display: block;
  position: relative;
  top: 40px;
  left: 30px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  font-family: 'Poiret One', 'Work Sans', sans-serif;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -50px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #999999;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: rgba(35, 35, 35, 0.8);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header div {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header img {
  width: 50px;
  margin: 30px;
}

header .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 50px;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

body section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

body section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .detail article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .detail article p {
  padding-top: 10px;
}

body .detail * {
  padding: 8px;
}

img {
  margin: 5px;
}

.news {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.news article {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  margin: 2%;
  padding: 3px;
}

.news article img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

video {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  height: 50px;
  position: relative;
}

footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

footer div a {
  margin: 5px;
}

.contact {
  background-image: url(https://p0.piqsels.com/preview/669/787/672/blur-blurry-close-up-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-opacity: 0.5;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(35, 35, 35, 0.8);
}

form div {
  margin: 25px;
  background-color: rgba(35, 35, 35, 0);
}

form label {
  font-family: 'Poiret One', 'Work Sans', sans-serif;
  font-size: 25px;
  background-color: rgba(35, 35, 35, 0);
}

form * {
  padding: 5px;
}

form button {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 200px) {
  section img {
    width: 45%;
  }
  input {
    width: 150px;
    margin-left: 50px;
  }
  .detail article {
    width: 90%;
  }
  .detail img {
    width: 95%;
  }
}

@media only screen and (min-width: 600px) {
  section img {
    width: 31%;
  }
  input {
    width: 200px;
  }
  form {
    width: 60%;
    height: 500px;
  }
}

@media only screen and (min-width: 900px) {
  section img {
    width: 23%;
  }
  .news {
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
  }
  .detail img {
    width: 50%;
    height: 50%;
  }
  .detail article {
    width: 40%;
  }
  #menuToggle {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  section img {
    width: 18%;
  }
}

@media only screen and (min-width: 1300px) {
  section img {
    width: 15%;
  }
  .news {
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}
/*# sourceMappingURL=home_page.css.map */