@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap')
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap')

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap')
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap')

$black: #000000
$dark_grey: #191919
$medium_grey: #363636
$grey: #555555
$light_grey: #999999
$white: #ffffff

*
    background: $dark_grey
    color: $grey
    margin: 0
    padding: 0

    h1, h2, p
        color: $light_grey

h1

    font-size: 60px
    font-family: 'Permanent Marker','Poiret One', 'Work Sans', sans-serif

h2
    font-family: 'East Sea Dokdo', 'Poiret One', 'Work Sans', sans-serif
    font-size: 50px
    margin-left: 10px

h3
    font-family: 'Poiret One', 'Work Sans', sans-serif
    font-size: 25px
    font-weight: bolder

p
    font-family: 'Work Sans', sans-serif
    font-size: 17px

a
    text-decoration: none

input
    border: 2px solid $medium_grey
    background-color: $grey
    border-radius: 5px
    width: 200px
    color: $light_grey   

#dark_grey_input
    border: 2px solid $grey
    background-color: $medium_grey

button
    width: 200px
    border-radius: 15px
    border: 1px solid $grey
    background-color: $medium_grey

#dark_grey_button
    border: 1px solid $medium_grey
    background-color: $grey

#grey_button:hover
    color: $grey
    background-color: $medium_grey

#dark_grey_button:hover
    color: $medium_grey
    background-color: $grey

text-area
    border-radius: 5px

#logo
    background-color: $white
    height: 70px
    width: 70px
    margin: 20px

i
    font-size: 20px
    color: $grey

li
    background: none
    color: $white

#menuToggle
    display: block
    position: relative
    top: 40px
    left: 30px
    z-index: 1
    -webkit-user-select: none
    user-select: none
    font-family:  'Poiret One', 'Work Sans', sans-serif

#menuToggle a
    text-decoration: none
    color: #232323
    transition: color 0.3s ease

#menuToggle a:hover
    color: tomato

#menuToggle input
    display: block
    width: 40px
    height: 32px
    position: absolute
    top: -7px
    left: -50px
    cursor: pointer
    opacity: 0
    z-index: 2

    -webkit-touch-callout: none

#menuToggle span

    display: block
    width: 33px
    height: 4px
    margin-bottom: 5px
    position: relative

    background: $light_grey
    border-radius: 3px

    z-index: 1

    transform-origin: 4px 0px

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease

#menuToggle span:first-child

    transform-origin: 0% 0%

#menuToggle span:nth-last-child(2)

    transform-origin: 0% 100%

#menuToggle input:checked ~ span

    opacity: 1
    transform: rotate(45deg) translate(-2px, -1px)

#menuToggle input:checked ~ span:nth-last-child(3)

    opacity: 0
    transform: rotate(0deg) scale(0.2, 0.2)

#menuToggle input:checked ~ span:nth-last-child(2)

    transform: rotate(-45deg) translate(0, -1px)

#menu

    position: absolute
    width: 300px
    margin: -100px 0 0 -50px
    padding: 50px
    padding-top: 125px
    background: rgba(35, 35, 35, 0.8)
    list-style-type: none
    -webkit-font-smoothing: antialiased

    transform-origin: 0% 0%
    transform: translate(-100%, 0)

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0)

#menu li

    padding: 10px 0
    font-size: 22px

#menuToggle input:checked ~ ul

    transform: none

header
    display: flex
    flex-direction: row
    flex-wrap: wrap

    div
        color: $white
        display: flex
        flex-direction: row
        align-items: center
        width: 100%
        
       

    img
        width: 50px
        margin: 30px
       
    .redes
        display: flex
        flex-direction: row
        justify-content: space-evenly
        width: 100%
        height: 50px

    


body
    width: 100%
    height: 100%
    position: relative

    section
        display: flex
        flex-direction: row
        flex-wrap: wrap
        margin-left: auto
        margin-right: auto
        padding: 3px
        
        article
            display: flex
            flex-direction: row
            flex-wrap: wrap
            
    .detail

        display: flex
        flex-direction: row
        flex-wrap: wrap
        article
            display: flex
            flex-direction: column

            p
                padding-top: 10px
            
        *
            padding: 8px
        
img
    margin: 5px

.news
    display: grid
    grid-template-columns: auto auto
    article
            display: grid
            grid-template-rows: auto auto auto
            margin: 2%
            padding: 3px
            img
                width: 100%
                margin-left: auto
                margin-right: auto

video
    width: 98%
   
    margin-left: auto
    margin-right: auto


footer
    height: 50px
    position: relative
    

    nav
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        margin-top: 80px
        
    div
        display: flex
        flex-direction: row
        justify-content: center
        margin-top: 30px
        margin-bottom: 50px
        a
            margin: 5px

.contact
    background-image: url(https://p0.piqsels.com/preview/669/787/672/blur-blurry-close-up-dark.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-opacity: 0.5


form
    
    display: flex
    flex-direction: column
    flex-wrap: wrap
    margin-left: auto
    margin-right: auto
    background-color: rgba(35, 35, 35, 0.8)


    div
        margin: 25px
        background-color: rgba(35, 35, 35, 0)

    label
        font-family: 'Poiret One', 'Work Sans', sans-serif;
        font-size: 25px;
        background-color: rgba(35, 35, 35, 0)

    *
        padding: 5px
    button
        margin-left: auto
        margin-right: auto
@media only screen and (min-width: 200px)
    section
        img
            width: 45%
    input
        width: 150px
        margin-left: 50px
    .detail
        article
            width: 90%
        img
            width: 95%


@media only screen and (min-width: 600px)
    section
        img
            width: 31%
    input
        width: 200px
    form
        width: 60%
        height: 500px
        
    

@media only screen and (min-width: 900px)
    section
        img
            width: 23%
    .news
        grid-template-columns: auto auto auto
    .detail
        img
            width: 50%
            height: 50%
        article
            width: 40%
    #menuToggle
        display: none
    

@media only screen and (min-width: 1200px)
    section
        img
            width: 18%
    

@media only screen and (min-width: 1300px)
    section
        img
            width: 15%
    .news
        grid-template-columns: auto auto auto auto
