
* {
    background-color: black;
}

.reloj {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.box {
    background-color: black;
}

#canvas-uhours, #canvas-uminutes {
    margin-right: 10px;
}  